.bn632-hover {
    position: relative;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn22 {
    background-image: linear-gradient(
            to right,
            #0ba360,
            #3cba92,
            #30dd8a,
            #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.bn632-hover.bn23 {
    background-image: linear-gradient(
            to right,
            #a30b0b,
            #ba3c3c,
            #dd3030,
            #b62b2b
    );
    box-shadow: 0 4px 15px 0 rgba(168, 23, 23, 0.75);
}


.bn632-hover.bn24 {
    background-image: linear-gradient(
            to right,
            #0b54a3,
            #3c66ba,
            #3075dd,
            #2b4eb6
    );
    box-shadow: 0 4px 15px 0 rgba(23, 64, 168, 0.75);
}