#main{
  height: auto;
  width: auto;
  background-color: #ffffff;
  font-family: cg, Quicksand-Light;
}

.content{
  padding-bottom: 20px;
}

.top-img{
  display: flex;
  position: relative;
  overflow: hidden;
}

.top-img img {
  display: inline-block;
  width: 70%;
  margin: auto;
  object-fit: cover;
  filter: brightness(.5);
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 43px;
  font-weight: bold;
}

article{
  width: 70%;
  padding: 10px;
  margin: 15px auto auto;
  background-color: white;
  font-size: 25px;
  text-align: justify;
  -webkit-box-shadow: 1px 5px 15px 2px rgba(123, 123, 123, 1);
  -moz-box-shadow: 1px 5px 15px 2px rgba(123, 123, 123, 1);
  box-shadow: 1px 5px 15px 2px rgba(123, 123, 123, 1);
}

article .description{
  padding: 20px 50px;
}

article .subtitle{
  font-size: 36px;
  padding-left: 50px;
  font-weight: 900;
  margin-top: 15px;
}

article .subtitle-smaller{
  font-size: 28px;
  padding-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

article .subtitle-smaller-colored{
  font-size: 28px;
  padding-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #0ba360;
}

article .sentence-example{
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  background-color: rgba(11, 163, 96, 0.29);
  display: inline-block;

}

.center-table{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.center-table table {
  text-align: center;
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.center-table th, td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #000000;
}

.center-table th {
  text-align: center;
}

.center-table thead th{
  background-color: #afe38e;
}

#button {
  display: inline-block;
  background-color: #afe38e;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  border-radius: 40%;
  font-size: 34px;
  color: #095018;
}

.button-back{
  display: inline-block;
  background-color: #afe38e;
  width: 50px;
  height: 50px;
  margin: 20px;
  text-align: center;
  position: fixed;
  z-index: 9999;
  border-radius: 40%;
  font-size: 34px;
  color: #095018;
}
.button-back:hover{
  cursor: pointer;
  background-color: #aeef80;
}

#button:hover{
  cursor: pointer;
  background-color: #aeef80;
}

#button.show {
  opacity: 1;
  visibility: visible;
}


.article ul, li{
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  line-height: 40px;
}